:root {
  margin: none;
  padding: none;
  overflow-x: hidden;
  --main-bg-color: #03001c;
  --accent-color1: #301e67;
  --accent-color2: #5b8fb9;
  --accent-color3: #b6eada;
  background-color: var(--main-bg-color);
  font-family: "Roboto Condensed", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  inset: 0 0 5px var(black);
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color2);
  border-radius: 10px;
  box-shadow: inset 0 0 5px var(--accent-color3);
}

a {
  text-decoration: none;
  color: var(--accent-color2);
  cursor: pointer;
}

a:hover {
  color: var(--accent-color3);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-bg-color);
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

form label {
    color: var(--accent-color3);
    font-size: 2em;
    padding: 1em;
}

form input {
    height: 2em;
    font-size: 1.5em;
}

form textarea {
    height: 15em;
    width: 25em;
}

.form-fields-div {
    display: flex;
    align-items: center;
}

.button {
    width: 5em;
    height: 3em;
    font-size: 2em;
    align-self: center;
    margin: 2em;
    background-color: var(--accent-color2);
    color: var(--accent-color3);
    border-radius: 10px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

hr {
  width: 100vw;
  border: 1px solid var(--accent-color3);
}

html {
  scroll-behavior: smooth;
}

#about {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#about div {
    display: flex;
    flex-direction: column;
    margin: 3em;
}

#about div p {
    color: var(--accent-color2);
    font-size: 1.5em;
    margin: 1em;
}

#coding-projects {
  background-color: var(--main-bg-color);
}


#intermediate-coding {
    background-color: var(--main-bg-color);
}

#intro {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#intro p {
  font-size: 5em;
  color: var(--accent-color2);
  max-width: 50vw;
}

#mobile-header {
    display: none;
}

#mobile-nav {
    display: none;
}

#projects-menu {
  flex-direction: row;
  position: absolute;
  top: 70px;
  /* right: 550px; */
  background-color: var(--accent-color1);
  list-style: none;
  float: left;
  max-width: 35vw;
}

.projects-menu-shown {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  opacity: 1;
  position: absolute;
  top: 93px;
  right: 250px;
  background-color: var(--accent-color1);
  list-style: none;
  float: left;
  max-width: 35vw;
  transition: 0.5s;
  filter: blur(0px);
  z-index: 1;
}

.projects-menu-hidden {
  display: flex;
  opacity: 0;
  position: absolute;
  right: 200px;
  filter: blur();
  transition: 0.5s;
  filter: blur(5px);
}

#projects-menu li {
  margin: 1em;
}

#tutoring-menu {
  flex-direction: row;
  position: absolute;
  top: 70px;
  /* right: 550px; */
  background-color: var(--accent-color1);
  list-style: none;
  float: left;
  max-width: 35vw;
}

.tutoring-menu-shown {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  opacity: 1;
  position: absolute;
  top: 93px;
  right: 250px;
  background-color: var(--accent-color1);
  list-style: none;
  float: left;
  max-width: 35vw;
  transition: 0.5s;
  filter: blur(0px);
}

.tutoring-menu-hidden {
  display: flex;
  opacity: 0;
  position: absolute;
  right: 200px;
  filter: blur();
  transition: 0.5s;
  filter: blur(5px);
}

#tutoring-menu li {
  margin: 1em;
}

.hidden-pic {
  max-width: 35vw;
  min-width: 25vw;
  display: none;
  transition: 1s;
  position: absolute;
  right: -5vw;
}

.hilight {
  color: var(--accent-color3);
}

.menu-item {
  padding: 0.25em;
}

.menu-item-active {
  background-color: var(--accent-color1);
  transition: 0.5s;
}

.menu-item-inactive {
  background-color: var(--main-bg-color);
  transition: 0.5s;
}

.project {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.project img {
  max-width: 50vw;
  margin: 3em;
}

.project-description {
  color: var(--accent-color3);
  font-size: 1.25em;
  margin: 3em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.project-description p {
  margin-top: 1em;
}

.projects {
  background-color: var(--accent-color1);
  align-items: center;
  justify-content: center;
}

.projects h2 {
  color: var(--accent-color3);
  font-size: 3em;
  margin-left: 15vw;
}

.projects h3 {
  font-size: 2em;
}

.shown-pic {
  max-width: 35vw;
  display: block;
  transition: 1s;
  margin: 3em;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  max-width: 15em;
  transition: 0.35s;
}

.logo:hover {
    filter: drop-shadow(5px 5px 4px var(--accent-color2));
    transition: 0.35s;
}

.menu-hor {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.menu-hor li {
  margin: 2em;
  font-size: 1.25em;
}

.tutoring {
  font-size: 0.5em;
  margin: 6em;
  flex-direction: column;
}

.tutoring p {
  margin: 1em;
}

.vertical-line {
  margin: 1em;
  border-right: 3px solid var(--accent-color3);
  height: 1em;
}


@media screen and (max-width: 1000px) {

    #about {
        flex-direction: column;
    }

    #about img {
        max-width: 80vw;
    }

    body {
        overflow-x: hidden;
    }
    
    #desktop-header {
        display: none;
    }

    desktop-header {
        display: none;
    }

    #hamburger-icon {
        background-color: var(--accent-color3);
        border-radius: 20%;
        margin: 1em;
    }

    #intro {
        display: flex;
        flex-direction: column-reverse;
    }

    .intro-main-text {
        font-size: 2em;
    }

    #intro p {
        font-size: 1.5em;
    }

    #intro.tutoring {
        font-size: 0.75em;
    }


    #mobile-header {
        display: flex;
        width: 90vw;
        align-items: flex-end;
        justify-content: flex-end;
    }

    #mobile-nav {
        display: block;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--main-bg-color);
        font-size: 2em;
        position: fixed;
        width: 105vw;
        height: 100vh;
    }

    .mobile-nav-shown {
        top: 0vh;
        right: 0vw;
        min-height: 100vh;
        min-width: 100vw;
        transition: ease-out 0.5s;
    }

    .mobile-nav-hidden {
        top: 0vh;
        right: -100vh;
        transition: ease-in 0.5s;
    }

    #mobile-nav div {
        margin: 3em;
    }

    #mobile-menu-exit-button {
        display: block;
        position: absolute;
        border-radius: 25%;
        padding: 0.25em;
        max-width: 15px;
        right: 0vw;
        margin-top: 0.5em;
        margin-right: 1.37em;
        background-color: var(--accent-color3);
    }

    .project {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .project img {
        max-width: 90vw;
        margin: none;
    }

    .projects h2 {
        font-size: 1.75em;
    }

    .projects h3 {
        font-size: 1.5em;
    }

    #secondary-intro {
        display: flex;
        flex-direction: column;
    }

    section {
        max-width: 100vw;
    }


}